<div class="container-fluid navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand nav-pills" href="/Home"><h1>Programming Lexicon</h1></a>
        <ul class="nav justify-content-end nav-pills">
            <li class="nav-item">
                <NavLink style="color: white !important" class="nav-link" href="/" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink style="color: white !important"class="nav-link" href="About" Match="NavLinkMatch.All">
                    <span class="oi oi-person" aria-hidden="true"></span> About
                </NavLink>
            </li>
        </ul>
    </div>
</div>
