@page "/about"
@using MarkdownBlog.Shared;
@inject HttpClient Http
<!-- Page Header -->
<header class="masthead")">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>My name is Scott Peabody.</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Guess here is where I talk about myself. Put simply, I like to build stuff.</p>
            <p>You can find me places like <a href="https://github.com/ImmutableVector/">GitHub</a>, <a href="https://www.linkedin.com/in/scott-peabody-60554573/">LinkedIn</a>, and I guess <a href="https://twitter.com/CodeLexicon">Twitter</a>, though on twitter you will find mostly redirects back to here, though maybe some exclusive jabs at your favorite framework will be listed, no promises.</p>
            <p>I suppose the last thing there is to know about me is that I am very wordy. I do my best not to be when working with others and I feel I am mostly effictive at that. But here, in my domain, I will not hold back.</p>
            <br>
            <p><h1>Programming Lexicon:</h1> In brief this will be a place for me to post things that I learn and want to share. The site has a very simple layout at the moment and that is by choice. I have plans, but I am not sure I am fully convinced of the direction I am going to go with it as of writing this.</p>
        </div>
    </div>
</div>